<!--
    Thank you for use generator-BatAngularJs ;)
    Ps: Some one put an easter egg on line 42, sorry for that
-->
<div class="home">
  <h1 class="home__title">BatAngularJS</h1>
  <p class="home__title-legend">Edit this in <code>app/components/home/home.component.html</code></p>
  <nav class="home__nav">
    <ul>
      <li>
        <a href="https://github.com/mateusKoppe/generator-batangularjs#readme" target="_blank">Documentation</a>
      </li>
      <li>
        <a href="https://github.com/toddmotto/angularjs-styleguide#readme" target="_blank">Styleguide</a>
      </li>
      <li>
        <a href="https://github.com/mateusKoppe/generator-batangularjs/stargazers" target="_blank">Give a star</a>
      </li>
    </ul>
  </nav>
</div>




















<a ng-click="$ctrl.godDamn()"class="home__easter-egg" href="https://media.giphy.com/media/jIzXYqaQ0nLkA/giphy.gif" target="_blank">There are no Easter Eggs up here. <br> Go Away.</a>
<!-- ¯\_(ツ)_/¯  -->
